---
layout: home
---

{% include header.html %}

<div class="g-banner banner-img home-banner" data-theme="{{ site.theme-color }}">
    <div class="banner-text">
        <h2>{{ site.home-title }}</h2>
        <h3>{{ site.description }}</h3>
    </div>
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
        <article class="article-item">
            {% if post.cover %}
            <div class="post-cover">
                <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                <img src="{{ post.cover | relative_url }}" href="{{ post.url | relative_url }}" alt="">
            </div>
            {% endif %}
            <section class="post-preview">
                <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}"></a>
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                {% endif %}
                {% if post.subtitle.size==0 or post.subtitle==nil %}
                <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                {% endif %}
            </section>
            <footer class="post-meta">
                <div class="post-tags">
                    {% if post.tags.size > 0 %}
                    {% for tag in post.tags  %}
                    <a href="{{ '/page/tags.html#' | append: tag | relative_url }}" class="post-tag">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                <time class="post-date"
                    datetime="{{ post.date | date:'%y-%m-%d' }}">{{ post.date | date_to_string }}</time>
            </footer>
        </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
        {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | relative_url }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div>
                    <small>{{ site.nickname }}</small>
                </div>
                <br />
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                {% if forloop.index > site.recommend-condition-size %}
                {% break %}
                {% endif %}
                <a href="{{ '/page/tags.html#' | append: tag[0] | relative_url }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

        <!-- adblock 广告单元
        <div class="g-sidebar-ad">
            <div class="g-sidebar">
                <div>
                    <small style="color: #65656559;">ADS BY GOOGLE: </small>
                </div>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5266662380239421"
                    data-ad-slot="9430046549" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        -->
    </aside>
</main>