/*
赞赏
*/

.btn_zs {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
}

.entry-shang {
  padding: 30px 0 20px;
  text-align: center;
}

.entry-shang p {
  font-size: 12px;
}

.btn-bred {
  min-width: 80px;
  border-color: #e26d6d;
  background: #e26d6d;
  color: #fff;
}

.zs-model-body {
  text-align: center;
  transition: ease-in 3s;
}

.zs-model-body img {
  display: none;
  width: 170px;
}
